.content{
    height: 75%;
    width: 70%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 40px;
    background: #ffffff0d;
    z-index: 1;
}
.content-form input{
    width: 100%;
    padding: 10px;
    background: none;
    border-right: none;
    border: none;
}
.row{
    --bs-gutter-x: 0 !important;
}
.icone {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid #0000009e;
    border-right: none
}
.focus{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 1px solid #0000009e;
}
.direct-form {
    margin-bottom: 20px;
}
.content-form-group .title{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    background: #69E6A6;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;
    color: #0A2640
}
.content-form{
    padding: 20px;
    margin-bottom: 20px;
}
.content-form-group {
    background: #fff;
    border-radius: 10px;
}
.send button {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #0000009e;
}
.content-form input:focus-visible{
    outline: none
}
.title-page h1 {
    color: #fff;
    letter-spacing: 1px;
}
.green{
    color: #69E6A6;
}